<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.zhaowu.top</string>
	<key>connections</key>
	<dict>
		<key>65DAE3B3-5040-4117-A911-65EDE5765DC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A162DE22-9392-4CD1-AA9C-AAC39F6D31F8</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>kill process</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DA167D3F-4147-4632-A672-72656D18E997</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Force Kill</string>
			</dict>
		</array>
		<key>A162DE22-9392-4CD1-AA9C-AAC39F6D31F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F27382C-82E2-4594-91A4-A671F119A335</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C844DE84-FBA3-4500-9C91-2A43C2729C1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A162DE22-9392-4CD1-AA9C-AAC39F6D31F8</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>kill process</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DA167D3F-4147-4632-A672-72656D18E997</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Force Kill</string>
			</dict>
		</array>
		<key>CA714745-B63F-46C5-9D77-50C52956368C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A162DE22-9392-4CD1-AA9C-AAC39F6D31F8</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>kill process</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DA167D3F-4147-4632-A672-72656D18E997</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>force kill</string>
			</dict>
		</array>
		<key>DA167D3F-4147-4632-A672-72656D18E997</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F27382C-82E2-4594-91A4-A671F119A335</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zhao Cai</string>
	<key>description</key>
	<string>List/Kill Top Processes by Memory/Cpu Usage</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Top Processes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>kill {query}

if [ $? -eq 0 ] ; then
    echo "Succeed!"
else
    echo "Fail!"
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A162DE22-9392-4CD1-AA9C-AAC39F6D31F8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>memory top</string>
				<key>runningsubtext</key>
				<string>Determining top processes...</string>
				<key>script</key>
				<string>ruby ./alfred2_top_workflow.rb --sort memory -n 30 {query}</string>
				<key>subtext</key>
				<string>by Memory usage</string>
				<key>title</key>
				<string>Top Processes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C844DE84-FBA3-4500-9C91-2A43C2729C1D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>cpu top</string>
				<key>runningsubtext</key>
				<string>Determining top processes...</string>
				<key>script</key>
				<string>ruby ./alfred2_top_workflow.rb --sort cpu -n 30 {query}</string>
				<key>subtext</key>
				<string>by CPU usage</string>
				<key>title</key>
				<string>Top processes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>65DAE3B3-5040-4117-A911-65EDE5765DC3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>kill -9 {query}

if [ $? -eq 0 ] ; then
    echo "Succeed!"
else
    echo "Fail!"
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DA167D3F-4147-4632-A672-72656D18E997</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>top</string>
				<key>runningsubtext</key>
				<string>Determining top processes...</string>
				<key>script</key>
				<string>ruby ./alfred2_top_workflow.rb --sort auto -n 30 {query}</string>
				<key>subtext</key>
				<string>by Memory/CPU usage</string>
				<key>title</key>
				<string>Top Processes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CA714745-B63F-46C5-9D77-50C52956368C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Kill Process</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4F27382C-82E2-4594-91A4-A671F119A335</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Lists top ten system processes by CPU or Memory usage. Provide actions to kill.</string>
	<key>uidata</key>
	<dict>
		<key>4F27382C-82E2-4594-91A4-A671F119A335</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>65DAE3B3-5040-4117-A911-65EDE5765DC3</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>A162DE22-9392-4CD1-AA9C-AAC39F6D31F8</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>C844DE84-FBA3-4500-9C91-2A43C2729C1D</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>CA714745-B63F-46C5-9D77-50C52956368C</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>DA167D3F-4147-4632-A672-72656D18E997</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/zhaocai/alfred2-top-workflow</string>
</dict>
</plist>
