<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.zhaowu.top</string>
	<key>connections</key>
	<dict>
		<key>2011A968-7743-480E-A078-3D3602FF8E11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C439BF3F-F4EF-43E6-BFD2-DF8837E2B120</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2B8AA7B1-2F79-475C-ADEF-6EE35005FCBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFA5D2DB-0DDA-4D3C-9755-3C4DD3A6BA29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2D963FB2-D9CA-4423-AD37-66DAA9B5C6A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BC268C2-F6D4-4B9B-BB4E-3C9D3CFC14D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6DED0FCD-B485-4D7D-A4B7-673C0D34E2D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA714745-B63F-46C5-9D77-50C52956368C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7DC8A847-D1E3-4D91-B2B5-844E95E7F38A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A162DE22-9392-4CD1-AA9C-AAC39F6D31F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DA167D3F-4147-4632-A672-72656D18E997</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Force Kill</string>
			</dict>
		</array>
		<key>A162DE22-9392-4CD1-AA9C-AAC39F6D31F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F27382C-82E2-4594-91A4-A671F119A335</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CA714745-B63F-46C5-9D77-50C52956368C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE16D203-D372-4FC5-AA16-B8A41ECA3D16</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>nice cpu priority</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A162DE22-9392-4CD1-AA9C-AAC39F6D31F8</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>kill process</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A325DFB8-2F81-4919-8541-1365154D5F89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DA167D3F-4147-4632-A672-72656D18E997</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>force kill</string>
			</dict>
		</array>
		<key>CE16D203-D372-4FC5-AA16-B8A41ECA3D16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>638845CE-0394-46AA-85F6-723639C71696</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DA167D3F-4147-4632-A672-72656D18E997</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F27382C-82E2-4594-91A4-A671F119A335</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zhao Cai</string>
	<key>description</key>
	<string>List/Kill Top Processes by Memory/Cpu Usage</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Top Processes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>renice -n 5 {query}

message="nice cpu priority for {query}"
if [ $? -eq 0 ] ; then
    echo "⭕ ${message}"
else
    echo "❌ ${message}"
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CE16D203-D372-4FC5-AA16-B8A41ECA3D16</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>nice cpu priority</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>638845CE-0394-46AA-85F6-723639C71696</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>kill</string>
				<key>runningsubtext</key>
				<string>list processes...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./alfred2_top_workflow.rb {query}</string>
				<key>subtext</key>
				<string>Type to filter processes</string>
				<key>title</key>
				<string>Kill Process</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DC8A847-D1E3-4D91-B2B5-844E95E7F38A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>kill {query}

if [ $? -eq 0 ] ; then
    echo "⭕ kill {query}"
else
    echo "❌ kill {query}"
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A162DE22-9392-4CD1-AA9C-AAC39F6D31F8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Kill Process</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4F27382C-82E2-4594-91A4-A671F119A335</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)	tell application "Alfred 2" to search "lsof " &amp; q &amp; " "end alfred_script
</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>A325DFB8-2F81-4919-8541-1365154D5F89</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>top</string>
				<key>runningsubtext</key>
				<string>Determining top processes...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./alfred2_top_workflow.rb {query}</string>
				<key>subtext</key>
				<string>by Memory/CPU usage</string>
				<key>title</key>
				<string>Search Top Processes for '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CA714745-B63F-46C5-9D77-50C52956368C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6DED0FCD-B485-4D7D-A4B7-673C0D34E2D0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>kill -9 {query}

if [ $? -eq 0 ] ; then
    echo "⭕ kill -9 {query}"
else
    echo "❌ kill -9 {query}"
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DA167D3F-4147-4632-A672-72656D18E997</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>lsof</string>
				<key>runningsubtext</key>
				<string>waiting...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./lsof.rb {query}</string>
				<key>subtext</key>
				<string>lsof pid query</string>
				<key>title</key>
				<string>List Files Opened by Process {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2B8AA7B1-2F79-475C-ADEF-6EE35005FCBA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>CFA5D2DB-0DDA-4D3C-9755-3C4DD3A6BA29</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>glance</string>
				<key>runningsubtext</key>
				<string>working on it ヽ( ´¬`)ノ</string>
				<key>script</key>
				<string>/usr/bin/ruby ./glance.rb {query}</string>
				<key>subtext</key>
				<string>Type '{query}' to filter</string>
				<key>title</key>
				<string>Glances an Eye on your system</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C439BF3F-F4EF-43E6-BFD2-DF8837E2B120</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2011A968-7743-480E-A078-3D3602FF8E11</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>top /help</string>
				<key>subtext</key>
				<string>http://zhaocai.github.io/alfred2-top-workflow/</string>
				<key>text</key>
				<string>Help! Show Me the Usage Page!</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2D963FB2-D9CA-4423-AD37-66DAA9B5C6A4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://zhaocai.github.io/alfred2-top-workflow/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8BC268C2-F6D4-4B9B-BB4E-3C9D3CFC14D9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Lists top ten system processes by CPU or Memory usage. Provide actions to kill.</string>
	<key>uidata</key>
	<dict>
		<key>2011A968-7743-480E-A078-3D3602FF8E11</key>
		<dict>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>2B8AA7B1-2F79-475C-ADEF-6EE35005FCBA</key>
		<dict>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>2D963FB2-D9CA-4423-AD37-66DAA9B5C6A4</key>
		<dict>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>4F27382C-82E2-4594-91A4-A671F119A335</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>638845CE-0394-46AA-85F6-723639C71696</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6DED0FCD-B485-4D7D-A4B7-673C0D34E2D0</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>7DC8A847-D1E3-4D91-B2B5-844E95E7F38A</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>8BC268C2-F6D4-4B9B-BB4E-3C9D3CFC14D9</key>
		<dict>
			<key>ypos</key>
			<real>840</real>
		</dict>
		<key>A162DE22-9392-4CD1-AA9C-AAC39F6D31F8</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>A325DFB8-2F81-4919-8541-1365154D5F89</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>C439BF3F-F4EF-43E6-BFD2-DF8837E2B120</key>
		<dict>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>CA714745-B63F-46C5-9D77-50C52956368C</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>CE16D203-D372-4FC5-AA16-B8A41ECA3D16</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CFA5D2DB-0DDA-4D3C-9755-3C4DD3A6BA29</key>
		<dict>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>DA167D3F-4147-4632-A672-72656D18E997</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/zhaocai/alfred2-top-workflow</string>
</dict>
</plist>
